# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
weather_survey = pd.read_csv('../output_data/weather_survey.csv')
weather_survey.head()

,City,Latitude,Longitude,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
0,Rikitea,-23.12,-134.97,292.54,63,0,7.55,PF,1595534596
1,Bluff,-46.60,168.33,277.04,83,98,1.34,NZ,1595534626
2,Thompson,55.74,-97.86,299.15,65,75,4.10,CA,1595534424
3,Kenai,60.55,-151.26,290.15,63,1,2.60,US,1595534805
4,Bredasdorp,-34.53,20.04,285.15,93,0,1.00,ZA,1595534616

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [25]:
gmaps.configure(api_key=g_key)

In [106]:
humidity_fig = gmaps.figure(center=(30,0), zoom_level=1.2)

locations = weather_survey[['Latitude','Longitude']]
humidity = weather_survey['Humidity']

humidity_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=10, point_radius=1)

humidity_fig.add_layer(humidity_layer)

humidity_fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [30]:
#Cloudy vacation spots with high humidity
cvswhh = weather_survey.loc[(weather_survey['Cloudiness']>75)&(weather_survey['Humidity']>75)].dropna()

cvswhh.head()

,City,Latitude,Longitude,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
1,Bluff,-46.60,168.33,277.04,83,98,1.34,NZ,1595534626
8,Yellowknife,62.46,-114.35,289.26,87,90,6.20,CA,1595535186
16,Tiksi,71.69,128.87,287.97,81,98,3.76,RU,1595534636
17,Ballina,-28.87,153.57,288.15,93,90,2.10,AU,1595534847
18,City of San Pedro,14.35,121.02,304.26,88,100,2.60,PH,1595535188

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [81]:
hotel_df = cvswhh
hotel_names = []
hotels_lat = []
hotels_lng = []

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "rankby": "distance",
    "key": g_key,
    "types": "hotel",
    "keyword": 'hotel',
}

for index, row in hotel_df.iterrows():
    lat = row['Latitude']
    lng = row['Longitude']
    params['location'] = (f"{lat},{lng}")
    try:
        response = requests.get(base_url, params=params).json()        
        hotel_name = response['results'][0]['name']
        hotel_lat = response['results'][0]['geometry']['location']['lat']
        hotel_lng = response['results'][0]['geometry']['location']['lng']
        hotel_names.append(hotel_name)
        hotels_lat.append(hotel_lat)
        hotels_lng.append(hotel_lng)
        print(f"{hotel_name}: Latitude: {hotel_lat}; Longitude: {hotel_lng}")
    except (KeyError, IndexError):
        pass
        hotel_name = ''
        hotel_lat = ''
        hotel_lng = ''
        hotel_names.append(hotel_name)
        hotels_lat.append(hotel_lat)
        hotels_lng.append(hotel_lng)

The Eagle: Latitude: -46.59895239999999; Longitude: 168.3417801
Mo's Houseboat B&B: Latitude: 62.45879489999999; Longitude: -114.3429329
Arktika: Latitude: 71.6922089; Longitude: 128.871611
Ballina Manor Boutique Hotel: Latitude: -28.8702686; Longitude: 153.567272
Palines Apartment and Guesthouse: Latitude: 14.364308; Longitude: 121.0128772
Airport Inn: Latitude: 71.2888583; Longitude: -156.779611
Gran Hotel Panamericano: Latitude: -37.99771; Longitude: -57.549979
Gostinitsa "Zapolyar'ye": Latitude: 71.9782487; Longitude: 102.4688095
The Fern & Thistle Accommodation: Latitude: -46.226144; Longitude: 169.7898766
Yeet Hotel: Latitude: 61.99411509999999; Longitude: -49.6665709
Hotel Santika Bengkulu: Latitude: -3.7978888; Longitude: 102.2729506
SMD Tiffin Parlour: Latitude: 18.7650325; Longitude: 84.4188463
Taloa Heights: Latitude: -19.0607788; Longitude: -169.9217526
Basawasri Lodge: Latitude: 16.7277581; Longitude: 75.0651985
Quality Hotel Bodensia: Latitude: 65.82467030000001; Longitude: 21.6872355
Champa Central Hotel: Latitude: 4.1742991; Longitude: 73.5103057
Pensao Cruzeiro: Latitude: -16.8381938; Longitude: 36.9860173
Carlyle Hotel: Latitude: -42.8385173; Longitude: 147.2885906
Hotel Vishnu Residency: Latitude: 17.7115611; Longitude: 83.2985204
The Brunswick Hotel: Latitude: -42.880621; Longitude: 147.327728
Avoni Hotel: Latitude: 7.5731978; Longitude: 6.2448484
Kak Doma: Latitude: 50.6610621; Longitude: 156.1144998
Akantuka Homestay: Latitude: 12.8500373; Longitude: 102.208602
Saskylakh Aeroport: Latitude: 71.9293034; Longitude: 114.0877974
NTS Rooms, Nanortalik: Latitude: 60.1384123; Longitude: -45.2433989
Hanare: Latitude: 33.7263607; Longitude: 135.9876962
Eureka Inn Trademark By Wyndham: Latitude: 40.80010619999999; Longitude: -124.1653707
Hotel Carlos Gardel: Latitude: -31.7300835; Longitude: -55.9730029
Hampton Inn & Suites Saraland Mobile: Latitude: 30.8051663; Longitude: -88.10569459999999
Apartment on Taymyrskaya ulitsa 28: Latitude: 69.4859132; Longitude: 88.3952942
Linxia Hotel: Latitude: 35.600505; Longitude: 103.208692
Gaboto: Latitude: -33.6997931; Longitude: -53.4640888
Sólgerði / IG Höfn: Latitude: 64.25105599999999; Longitude: -15.2084151
Infinity Lodge Gboko: Latitude: 7.325191499999999; Longitude: 9.003219
Shellharbour Village Motel: Latitude: -34.5788323; Longitude: 150.8666606
Rising Sun Lodge: Latitude: -6.2338932; Longitude: 155.5662086
Marawi Resort Hotel: Latitude: 7.9972448; Longitude: 124.2640399
Park Hotel: Latitude: -37.8258624; Longitude: 140.7721436
Hotel Gold: Latitude: 53.7443901; Longitude: 127.2814021
Hotel Aire de Patagonia: Latitude: -51.6202031; Longitude: -69.2199196
Hotel Xaguate: Latitude: 14.8995932; Longitude: -24.4981834
Hotel La fidelité: Latitude: 9.7080916; Longitude: 1.6663523
Puri Brata: Latitude: -7.9779392; Longitude: 110.2688091
Ilamperuma Holiday Home: Latitude: 5.970416; Longitude: 80.419019
临江府尚煊商务宾馆: Latitude: 41.810005; Longitude: 126.909507
Hotel Hemal Garden: Latitude: 20.7131988; Longitude: 70.9791063
Wisma Raffa: Latitude: -3.7818182; Longitude: 103.5744789
Hotel Meligai Kapit: Latitude: 2.015957; Longitude: 112.93807
Hotel Melati Bintang: Latitude: -6.9140558; Longitude: 112.0828127
Bismillah Hotel And Lodging: Latitude: 10.570591; Longitude: 72.6381459
SanBiz Lodge: Latitude: -10.4524951; Longitude: 161.9188267
Mandela hôtel: Latitude: 9.256412599999999; Longitude: 29.8045275
Ron and Tony's Bed & Breakfast: Latitude: -46.1314746; Longitude: 167.6829055
Mizga Fashion Hotel: Latitude: 26.060694; Longitude: 119.30895
天然温泉ホテル 鳳乃舞温泉 音更: Latitude: 42.971567; Longitude: 143.203419
Codrington Gardens Bed And Breakfast: Latitude: -38.2846732; Longitude: 142.0097987
Hotel Klaksvík: Latitude: 62.22828029999999; Longitude: -6.5947193
Da'tou Hotel: Latitude: 6.516396599999999; Longitude: 14.2919273
Hotel Bell Harmony Ishigakiisland: Latitude: 24.3394382; Longitude: 124.1590373
Claudine's Guesthouse: Latitude: 70.99624299999999; Longitude: 24.665014
民宿 まぐさ: Latitude: 35.138197; Longitude: 140.286315
Scandic Bryggen: Latitude: 70.9794488; Longitude: 25.9726867
铜川宾馆: Latitude: 35.0719539; Longitude: 109.0825351
Xifei Hotel: Latitude: 34.655603; Longitude: 109.229844
Kings Villa: Latitude: 5.9495369; Longitude: 80.545116
Edgewater Hotel: Latitude: 60.719826; Longitude: -135.0504461
Hotel Anandraj Palace: Latitude: 21.237676; Longitude: 75.290991
Gostinitsa Khutorok: Latitude: 56.06484769999999; Longitude: 97.62010579999999
Fairfield Inn & Suites by Marriott Key West: Latitude: 24.5622455; Longitude: -81.77629379999999
Guest House Fujiya: Latitude: 32.6904938; Longitude: 128.8408515
Provintsiya: Latitude: 47.842309; Longitude: 134.957236
Ompoy Pension House: Latitude: 8.0694099; Longitude: 122.5185559
Hotel Salta: Latitude: -24.7899745; Longitude: -65.4097534
Huset ved havet: Latitude: 58.6135785; Longitude: 5.617542299999999
Auberge Marguerite: Latitude: 0.0488087; Longitude: 18.254897
Motel' "Avtodvor": Latitude: 55.4389249; Longitude: 54.3001813
Zolotaya Rybka: Latitude: 50.3689888; Longitude: 129.1159459
Kairali Ramdham Ayurveda: Latitude: 21.39684; Longitude: 79.26272999999999
Mdic: Latitude: 6.8941656; Longitude: 101.3869901
Shimoda Itoen Hotel Hanamisaki: Latitude: 34.6745451; Longitude: 138.9486972
Gran Hotel 25 de Mayo: Latitude: -35.433338; Longitude: -60.16718999999999
Oyo 236 Hotel Edmundo: Latitude: 10.9494908; Longitude: 122.6363556
Zunke Business Hotel: Latitude: 36.619444; Longitude: 101.773816
Кафе-готель Домашні страви: Latitude: 49.9227901; Longitude: 28.6008333
Hotel Tiara Meulaboh: Latitude: 4.1427778; Longitude: 96.12694440000001
CASA HOSPEDAJE FAMILIAR: Latitude: -17.0209711; Longitude: -72.00971470000002
JKB Guest House: Latitude: 5.2749888; Longitude: -0.75064
HOTEL PUNCAK PEMANGKAT: Latitude: 1.1773268; Longitude: 108.9743911
Rise Rentals Santa Catalina: Latitude: 7.531201599999999; Longitude: -80.0290222
The Gilmore Hotel: Latitude: 55.342339; Longitude: -131.6478289
Gostinitsa Lyuks: Latitude: 53.0459533; Longitude: 60.6206883
City Terraces Cairns: Latitude: -16.9201513; Longitude: 145.7688392
Отель "РАФИНАД": Latitude: 48.7720997; Longitude: 28.0774682
Hôthel Restaurant Paula: Latitude: 7.532625800000001; Longitude: 1.1252531
Travelodge Hastings: Latitude: 50.857974; Longitude: 0.5674203
Gostinitsa Voskhod: Latitude: 58.4061459; Longitude: 51.1369087
OYO ホテル 釜石大渡パンション: Latitude: 39.2719523; Longitude: 141.8789257
二美喜: Latitude: 43.3219444; Longitude: 145.5691667
Bella Casa: Latitude: 6.2952778; Longitude: -10.7919444
Hotel Olako: Latitude: -1.5680686; Longitude: 9.262056
Gostinitsa: Latitude: 50.9468906; Longitude: 115.5797476
Hongyuan Express Hotel: Latitude: 40.130947; Longitude: 124.38945
Kings Head: Latitude: 51.0685595; Longitude: -1.7980985
CityRum Övik: Latitude: 63.290674; Longitude: 18.720484
Eagle Bluff Lighthouse Bed & Breakfast: Latitude: 54.3190883; Longitude: -130.3193875
Hostel Lamitan City: Latitude: 6.661518999999999; Longitude: 122.106467
Carp Culture Hotel: Latitude: 22.938307; Longitude: 115.652016
Gostinitsa Mup Zhkkh: Latitude: 64.89999999999999; Longitude: 45.7666666
Hotel 61: Latitude: 5.5593663; Longitude: 95.3213398
Gold Mount Hotel: Latitude: 22.9333641; Longitude: 97.747142
Hotel Monaco: Latitude: 3.3052813; Longitude: 117.6074523
LCR HOTEL: Latitude: -8.8395827; Longitude: 121.6639022
Four Seasons Hotel Hong Kong: Latitude: 22.2864877; Longitude: 114.1569068
Green Park: Latitude: 52.5265366; Longitude: 31.96299909999999
宁登酒店: Latitude: 29.832479; Longitude: 106.43515
Apera Beach Front Bungalows: Latitude: -19.544994; Longitude: 169.2716525
Hospedaje Guainia: Latitude: 3.8688785; Longitude: -67.9210051
Palm Garden Hotel: Latitude: 9.6142443; Longitude: 8.3921752
Zhilaya Baza "Shimanovskaya": Latitude: 52.0044975; Longitude: 127.693644
Hotel RIKMAN Continental: Latitude: 25.5126646; Longitude: 90.21763349999999
Apart Hotel - Arianos: Latitude: -36.3078391; Longitude: -57.67974460000001
Berlevåg camping & Appartement AS: Latitude: 70.857078; Longitude: 29.09885599999999
Gostinitsa Rosmorport.: Latitude: 43.7308374; Longitude: 135.2573985
Kosei-kan: Latitude: 39.64042300000001; Longitude: 141.949737

In [104]:
hotel_df['Hotel_Name'] = hotel_names
hotel_df['Hotel_Lat'] = hotels_lat
hotel_df['Hotel_Lng'] = hotels_lng
hotel_df1 = hotel_df.loc[hotel_df['Hotel_Name'] !='']
hotel_df1.head()

,City,Latitude,Longitude,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,Hotel_Name,Hotel_Lat,Hotel_Lng
1,Bluff,-46.60,168.33,277.04,83,98,1.34,NZ,1595534626,The Eagle,-46.599,168.342
8,Yellowknife,62.46,-114.35,289.26,87,90,6.20,CA,1595535186,Mo's Houseboat B&B,62.4588,-114.343
16,Tiksi,71.69,128.87,287.97,81,98,3.76,RU,1595534636,Arktika,71.6922,128.872
17,Ballina,-28.87,153.57,288.15,93,90,2.10,AU,1595534847,Ballina Manor Boutique Hotel,-28.8703,153.567
18,City of San Pedro,14.35,121.02,304.26,88,100,2.60,PH,1595535188,Palines Apartment and Guesthouse,14.3643,121.013

In [111]:
locations = hotel_df1[['Hotel_Lat','Hotel_Lng']]


hotel_layer = gmaps.marker_layer(locations)

fig = gmaps.figure(center=(30,0), zoom_level=1.2)
fig.add_layer(humidity_layer)
fig.add_layer(hotel_layer)
fig

Figure(layout=FigureLayout(height='420px'))

,City,Latitude,Longitude,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,Hotel_Name
1,Bluff,-46.60,168.33,277.04,83,98,1.34,NZ,1595534626,
8,Yellowknife,62.46,-114.35,289.26,87,90,6.20,CA,1595535186,
16,Tiksi,71.69,128.87,287.97,81,98,3.76,RU,1595534636,
17,Ballina,-28.87,153.57,288.15,93,90,2.10,AU,1595534847,
18,City of San Pedro,14.35,121.02,304.26,88,100,2.60,PH,1595535188,
...,...,...,...,...,...,...,...,...,...,...
567,Tura,25.52,90.22,296.52,98,99,2.02,IN,1595535401,
568,Dolores,-36.31,-57.68,285.78,92,100,5.95,AR,1595535401,
569,Berlevåg,70.86,29.09,284.15,93,90,1.00,NO,1595535402,
571,Ol'ga,43.74,135.29,288.62,93,95,0.94,RU,1595535402,
574,Miyako,39.64,141.95,292.22,90,88,1.00,JP,1595535403,

In [113]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel_Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Latitude</dt><dd>{Latitude}</dd>
<dt>Longitude</dt><dd>{Longitude}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df1.iterrows()]
locations = hotel_df1[["Hotel_Lat", "Hotel_Lng"]]

In [114]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig = gmaps.figure(center=(30,0), zoom_level=1.2)
fig.add_layer(humidity_layer)
fig.add_layer(hotel_layer)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))